<section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/images/bg_1.jpg');">
    <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border">
                    <div class="img" style="background-image: url(../../assets/images/about.jpg); border"></div>
                    <div class="text">
                        <h3>Read Our Success Story for Inspiration</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrap-about pr-md-4 ">
    <h2 class="mb-4">Welcome to Consolution</h2>
                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center" style="background-image: url(../../assets/images/about.jpg);">
                    <div class="video justify-content-center">
                            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                                <span class="ion-ios-play"></span>
                        </a>
                        </div>
                </div>
            </div>
            <div class="col-md-6 heading-section  pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">We Are the Best Consulting Agency</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
        </div>	
    </div>
</section>
<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">You Always Get the Best Guidance</h2>
            </div>
        </div>	
    </div>
</section>
<section class="ftco-counter" id="section-counter">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="wrapper">
                <div class="row d-md-flex align-items-center">
                <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                    <div class="text">
                    <strong class="number" data-number="705">0</strong>
                    <span>Projects Completed</span>
                    </div>
                </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                    <div class="text">
                    <strong class="number" data-number="809">0</strong>
                    <span>Satisfied Customer</span>
                    </div>
                </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                    <div class="text">
                    <strong class="number" data-number="335">0</strong>
                    <span>Awwards Received</span>
                    </div>
                </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                    <div class="text">
                    <strong class="number" data-number="35">0</strong>
                    <span>Years of Experienced</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
    
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center heading-section ">
            <h2 class="mb-4">Our Clients Says</h2>
            <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
                <div class="item">
                <div class="testimony-wrap d-flex">
                    <div class="user-img" style="background-image: url(../../assets/images/person_1.jpg)">
                    </div>
                    <div class="text pl-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Racky Henderson</p>
                    <span class="position">Father</span>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap d-flex">
                    <div class="user-img" style="background-image: url(../../assets/images/person_2.jpg)">
                    </div>
                    <div class="text pl-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Henry Dee</p>
                    <span class="position">Businesswoman</span>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap d-flex">
                    <div class="user-img" style="background-image: url(../../assets/images/person_3.jpg)">
                    </div>
                    <div class="text pl-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Mark Huff</p>
                    <span class="position">Businesswoman</span>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap d-flex">
                    <div class="user-img" style="background-image: url(../../assets/images/person_4.jpg)">
                    </div>
                    <div class="text pl-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Rodel Golez</p>
                    <span class="position">Businesswoman</span>
                    </div>
                </div>
                </div>
                <div class="item">
                <div class="testimony-wrap d-flex">
                    <div class="user-img" style="background-image: url(../../assets/images/person_1.jpg)">
                    </div>
                    <div class="text pl-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                    </span>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <p class="name">Ken Bosh</p>
                    <span class="position">Businesswoman</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>