<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 ">
            <div class="blog-entry">
                <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_1.jpg');">
                                <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2019</span>
                </div>
                </a>
                <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                    <p class="ml-auto mb-0">
                        <a href="#" class="mr-2">Admin</a>
                        <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
            <div class="blog-entry">
                <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_2.jpg');">
                                <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2019</span>
                </div>
                </a>
                <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                    <p class="ml-auto mb-0">
                        <a href="#" class="mr-2">Admin</a>
                        <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
            <div class="blog-entry">
                <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_3.jpg');">
                                <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2019</span>
                </div>
                </a>
                <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                    <p class="ml-auto mb-0">
                        <a href="#" class="mr-2">Admin</a>
                        <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                    </p>
                </div>
                </div>
            </div>
            </div>

            <div class="col-md-6 col-lg-4 ">
            <div class="blog-entry">
                <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_4.jpg');">
                                <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2019</span>
                </div>
                </a>
                <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                    <p class="ml-auto mb-0">
                        <a href="#" class="mr-2">Admin</a>
                        <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
            <div class="blog-entry">
                <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_5.jpg');">
                                <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2019</span>
                </div>
                </a>
                <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                    <p class="ml-auto mb-0">
                        <a href="#" class="mr-2">Admin</a>
                        <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                    </p>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
            <div class="blog-entry">
                <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_6.jpg');">
                                <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">June</span>
                    <span class="yr">2019</span>
                </div>
                </a>
                <div class="text bg-white p-4">
                <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
                    <p class="ml-auto mb-0">
                        <a href="#" class="mr-2">Admin</a>
                        <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
            <div class="block-27">
                <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</section>