<section class="home-slider">
  <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
      <div class="slider-item" *ngFor="let image of mySlideImages;let i = index">
       <div class="slider-item" style="background-image:url(../../assets/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
              <div class="col-md-7">
                <span class="subheading">Welcome to Consolve</span>
                <h1 class="mb-4">We Are The Best Consulting Agency</h1>
                <img src={{image}}/>
                <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
              </div>
          </div>
        </div>
      </div>=
      </div>
  </owl-carousel>
</section>
<!-- 
  <div class="slider-item" style="background-image:url(../../assets/images/bg_2.jpg);">
    <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7">
            <span class="subheading">Todays Talent, Tommorow Success</span>
            <h1 class="mb-4">We Help to Grow Your Business</h1>
            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
          </div>
        </div>
      </div>
  </div>
</section> -->
<!-- <section class="home-slider">
  <owl-carousel [options]="mySlideOptions" [items]="images" >
      <div class="slider-item" style="background-image:url(../../assets/images/bg_1.jpg);" *ngFor="let image of mySlideImages;let i = index">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7">
                  <span class="subheading">Welcome to Consolve</span>
                  <h1 class="mb-4">We Are The Best Consulting Agency</h1>
                  <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>
                </div>
            </div>
          </div>
      </div>
  </owl-carousel>
</section> -->

<!-- <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" >
    <div class="item" *ngFor="let image of mySlideImages;let i = index">
     <div>
       <img src={{image}}/>
     </div>
    </div>
</owl-carousel> -->


<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-5 order-md-last wrap-about align-items-stretch">
        <div class="wrap-about-border">
          <div class="img" style="background-image: url(../../assets/images/about.jpg);"></div>
          <div class="text">
            <h3>Read Our Success Story for Inspiration</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
            <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-7 wrap-about pr-md-4">
        <h2 class="mb-4">Our Main Features</h2>
        <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
        <div class="row mt-5">
          <div class="col-lg-6">
            <div class="services active text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-collaboration"></span></div>
              <div class="text media-body">
                <h3>Organization</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
            <div class="services text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
              <div class="text media-body">
                <h3>Risk Analysis</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
              <div class="text media-body">
                <h3>Marketing Strategy</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
            <div class="services text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-handshake"></span></div>
              <div class="text media-body">
                <h3>Capital Market</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section heading-section-white">
        <h2 class="mb-0">You Always Get the Best Guidance</h2>
      </div>
    </div>	
  </div>
</section>

<section class="ftco-counter" id="section-counter">
  <div class="container">
    <div class="row d-md-flex align-items-center justify-content-center">
      <div class="wrapper">
        <div class="row d-md-flex align-items-center">
          <div class="col-md d-flex justify-content-center counter-wrap">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="705">0</strong>
                <span>Projects Completed</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="809">0</strong>
                <span>Satisfied Customer</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="335">0</strong>
                <span>Awwards Received</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="35">0</strong>
                <span>Years of Experienced</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section">
        <h2 class="mb-4">Our Best Services</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-4 d-flex">
        <div class="services-2 noborder-left text-center">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
          <div class="text media-body">
            <h3>Business Analysis</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 text-center">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-business"></span></div>
          <div class="text media-body">
            <h3>Business Consulting</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 text-center">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-insurance"></span></div>
          <div class="text media-body">
            <h3>Business Insurance</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 noborder-left noborder-bottom text-center">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-money"></span></div>
          <div class="text media-body">
            <h3>Global Investigation</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 text-center noborder-bottom">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-rating"></span></div>
          <div class="text media-body">
            <h3>Audit &amp; Evaluation</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="services-2 text-center noborder-bottom">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>
          <div class="text media-body">
            <h3>Marketing Strategy</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_1.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white">
        <h2 class="mb-3 mb-md-0">You Always Get the Best Guidance</h2>
      </div>
      <div class="col-lg-3 col-md-4">
        <p class="mb-0"><a href="#" class="btn btn-white py-3 px-4">Request Quote</a></p>
      </div>
    </div>	
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container-fluid px-0">
    <div class="row no-gutters justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section">
        <h2 class="mb-4">Our Recent Projects</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
        <p></p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-2.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-1.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-3.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-4.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-5.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-6.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-7.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="project img d-flex justify-content-center align-items-center" style="background-image: url(../../assets/images/project-8.jpg);">
          <div class="overlay"></div>
          <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(../../assets/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 py-5 px-md-5">
        <div class="py-md-5">
          <div class="heading-section heading-section-white mb-5">
            <h2 class="mb-4">Request A Quote</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
          <form action="#" class="appointment-form">
            <div class="d-md-flex">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="form-group ml-md-4">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">Select Guidance</option>
                      <option value="">Finance</option>
                      <option value="">Business</option>
                      <option value="">Auto Loan</option>
                      <option value="">Real Estate</option>
                      <option value="">Other Services</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group ml-md-4">
                <input type="text" class="form-control" placeholder="Phone">
              </div>
            </div>
            <div class="d-md-flex">
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group ml-md-4">
                <input type="submit" value="Request A Quote" class="btn btn-white py-3 px-4">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section">
        <h2 class="mb-4"><span>Recent</span> Blog</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url(assets/images/image_1.jpg);">
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_2.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('../../assets/images/image_3.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center heading-section">
        <h2 class="mb-4">Our Clients Says</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url(../../assets/images/person_1.jpg)">
              </div>
              <div class="text pl-4">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Racky Henderson</p>
                <span class="position">Father</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url(../../assets/images/person_2.jpg)">
              </div>
              <div class="text pl-4">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Henry Dee</p>
                <span class="position">Businesswoman</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url(../../assets/images/person_3.jpg)">
              </div>
              <div class="text pl-4">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Mark Huff</p>
                <span class="position">Businesswoman</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url(../../assets/images/person_4.jpg)">
              </div>
              <div class="text pl-4">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Rodel Golez</p>
                <span class="position">Businesswoman</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url(../../assets/images/person_1.jpg)">
              </div>
              <div class="text pl-4">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Ken Bosh</p>
                <span class="position">Businesswoman</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>